@import "tailwindcss";

:root {
  --background: #fdfdf7;
  --foreground: #171717;
  --gold-light: #ffd700;
  --gold-light-rgba-50: rgba(255, 215, 0, 0.5);
  --gold-dark: #b8860b;
  --gold-dark-rgba-50: rgba(184, 134, 11, 0.5);

  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

button {
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
}

.active-input {
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
  box-shadow: 0px 0px 0px 2px var(--gold-dark-rgba-50);
}
.active-input:focus,
.active-input:focus-within {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 4px var(--gold-light-rgba-50);
}

.prompt-box {
  background-color: var(--background);
  width: 100%;
  padding: 10px, 10px, 0px, 10px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.prompt-box input {
  width: 90%;
}

.prompt-box button {
  width: 10%;
}

.chat-box {
  border-color: var(--gold-dark);
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

.chat-box input {
  width: 90%;
}

.chat-box button {
  width: 10%;
}

.chat-box {
  transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.chat-box:focus,
.chat-box:focus-within {
  border-color: var(--gold-light);
  box-shadow: 0 5px 15px rgba(184, 134, 11, 0.4);
}

.gold-text-bold-underline {
  background-image: linear-gradient(45deg, var(--gold-light), var(--gold-dark));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.gold-text-bold-underline:hover {
  border-bottom: 2px solid var(--gold-light);
}

.gold-text-bold {
  background-image: linear-gradient(45deg, var(--gold-light), var(--gold-dark));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.gold-text-regular {
  background-image: linear-gradient(45deg, var(--gold-light), var(--gold-dark));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gold-border {
  border-color: var(--gold-dark);
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.gold-bg {
  background-image: linear-gradient(45deg, var(--gold-light), var(--gold-dark));
}

.gold-button {
  background-image: linear-gradient(45deg, var(--gold-light), var(--gold-dark));
  color: white;
  transition: all 0.1s ease;
  border-radius: 8px;
  padding: 8px 16px;
  transition: opacity 0.2s ease;
}

.gold-button:disabled {
  opacity: 0.5;
}

.gold-button:hover {
  box-shadow: 0 5px 15px rgba(184, 134, 11, 0.4);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.open-icon {
  transition: transform 0.3s ease;
}

.open-icon.open {
  transform: rotate(90deg);
}

.goal-info {
  transition: opacity 0.2s ease;
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.goal-info.open {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.bg-default {
  background-color: var(--background);
}
